<div>
    <div class="text">
        <a href="">BronClub / </a>
        <span>{{club.name}} /</span>
        <span>{{club.location}}</span>
    </div>
    <div class="slide-container">
            <img *ngFor="let image of images; let i = index"  [src]="image" alt="AreaPhotos" class="fade" 
            [ngClass]="{'image-active': selectedIndex === i}">
            <div class="slide-dot-container">
                <span *ngFor="let dot of images; let i = index" class="dot" 
                [ngClass]="{'active':selectedIndex === i}" (click)="selectImage(i)">
        
                </span>
            </div>
            <div class="btn-slide-container btn-prev" (click)="onPrevClick()">
                <i class="fa fa-arrow-circle-left icon-carousel"></i>
            </div>
            <div class="btn-slide-container btn-next" (click)="onNextClick()">
                <i class="fa fa-arrow-circle-right icon-carousel"></i>
            </div>
    </div>
    <div class="description-container">
        <div class="name-block">
            <span>{{club.name}} / Компьютерный клуб</span>
            <i class="bi bi-heart name-icon"></i>
        </div>
        <hr class="line line-after1">
        <div class="about-block">

        </div>
    </div>
</div>