<div>
    <div class="text">
        <a href="">BronClub / </a>
        <span>{{club.name}} /</span>
        <span>{{club.location}}</span>
    </div>
    <div class="slide-container">
            <img *ngFor="let image of images; let i = index"  [src]="image" alt="AreaPhotos" class="fade" 
            [ngClass]="{'image-active': selectedIndex === i}">
            <div class="slide-dot-container">
                <span *ngFor="let dot of images; let i = index" class="dot" 
                [ngClass]="{'active':selectedIndex === i}" (click)="selectImage(i)">
        
                </span>
            </div>
            <div class="btn-slide-container btn-prev" (click)="onPrevClick()">
                <i class="fa fa-arrow-circle-left icon-carousel"></i>
            </div>
            <div class="btn-slide-container btn-next" (click)="onNextClick()">
                <i class="fa fa-arrow-circle-right icon-carousel"></i>
            </div>
    </div>
    <div class="under-slide-container">
        <img *ngFor="let image of images; let i = index" [src]="image" alt="area"
         [ngClass]="{'image-active': selectedIndex === i}" (click)="selectImage(i)">
    </div>
    <div class="description-container">
        <div class="name-block">
            <span>{{club.name}} / Компьютерный клуб</span>
            <i class="bi bi-heart name-icon"></i>
        </div>
        <hr class="line line-after1">
        <div class="rating-block">
            <span>Рейтинг {{club.rating}}</span>
        </div>
        <hr class="line line-after2">
        <div class="about-block">
            <span>О нас</span>
            <div id="subBlock-icon">
                <i class="bi bi-clock"></i>
                <span>24 hours</span>
            </div>
            <div id="subBlock-icon">
                <i class="bi bi-telephone"></i>
                <span>8 708 675 7610</span>
            </div>
            <div id="subBlock-icon">
                <i class="bi bi-instagram"></i>
                <span>Instagramm</span>
            </div>
            <div id="subBlock-icon">
                <i class="bi bi-geo-alt-fill"></i>
                <span>{{club.location}}</span>
            </div>
        </div>
        <div class="map-realization">
            <h2>map</h2>
        </div>
        <div class="button-block">
            <button>Записаться</button>
        </div>
    </div>
</div>