<div>
    <nav>
        <div class="logo">
            <h1>BronClub</h1>
        </div>
    </nav>
    <div class="underNav">
        <span>Девайсы</span>
        <span>Игры</span>
        <span>Контакты</span>
    </div>
    <div class="main">
        <div>
            <h2>Бронируйте онлайн места <br> в компьютерных клубах</h2>
        </div>
        <div>
            <button>
                Забронировать
            </button>
        </div>
    </div>
    <div class="picture">
        <div>
            <img src="assets/main/main.jpeg" alt="">
        </div>
    </div>
    <div class="last">
        <div>
            <h3>О нас</h3>
        </div>
        <hr style="width: 300px;">
        <div>
            <span>Оптимизированная и удобное приложение которая содержить всю информацию о 
                <br>компьютерных клубах,о компьтерных гаджетах а также возможность бронирование онлайн </span>
        </div>
    </div>
    <div class="contacts">
        <img src="assets/main/icons/instagram.png" alt="inst">
        <img src="assets/main/icons/telegram.png" alt="telega">
        <img src="assets/main/icons/whatsapp.png" alt="">
    </div>
</div>