<div>
    <div class="main" (click)="toogleDropDownAnywhere()">
        <div>
            <h2> Возможность бронировать онлайн, места <br> в компьютерных клубах</h2>
        </div>
        <div class="search">
            <i class="bi bi-search"></i>
            <form [formGroup] = "clubName">
                <input formControlName="search" placeholder="Введите название" (click)="toggleDropDownVisibility()">
            </form>
            <div *ngIf="isDropDownVisibile">
                <div class="results">
                    <ul *ngFor="let club of clubsData$">
                        <img [src]="club.mainPhoto" alt="">
                        <li id="margin">{{club.name}}</li>
                        <span id="margin">{{club.location}}</span>
                        <div style="margin-left: 50px;">
                            <i class="bi bi-heart" style="font-size: 18px;"></i>
                            <span id="margin">{{club.rating}}</span>
                        </div>
                    </ul>
                </div>
            </div>
            <button>Искать</button>
        </div>
    </div>
    <div class="picture">
        <div>
            <img src="assets/main/main.jpeg" alt="">
        </div>
    </div>
    <hr style="position: relative; top: 250px;">
    <div class="politics">
        <div class="last">
            <div>
                <h3><strong>BronClub</strong></h3>
            </div>
            <div style="display: flex; flex-direction: column;">
                <span>Оптимизированная и удобное приложение которая содержить всю информацию о</span>
                <span>компьютерных клубах,о компьтерных гаджетах а также возможность бронирование онлайн</span>
            </div>
        </div>
        <div class="something">
            <span>Политика конфиденциальности</span>
            <span>Пользовательское соглашение</span>
        </div>
        <div class="contacts">
            <span>Мы в соцсетях</span>
            <div class="media">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-telegram"></i>
            </div>
            
        </div>
    </div>
</div>