<div>
    <div class="main">
        <div>
            <h2> Возможность бронировать онлайн, места <br> в компьютерных клубах</h2>
        </div>
        <div class="search">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Введите название">
            <button>Искать</button>
        </div>
    </div>
    <div class="picture">
        <div>
            <img src="assets/main/main.jpeg" alt="">
        </div>
    </div>
    <hr style="position: relative; top: 250px;">
    <div class="politics">
        <div class="last">
            <div>
                <h3><strong>BronClub</strong></h3>
            </div>
            <div style="display: flex; flex-direction: column;">
                <span>Оптимизированная и удобное приложение которая содержить всю информацию о</span>
                <span>компьютерных клубах,о компьтерных гаджетах а также возможность бронирование онлайн</span>
            </div>
        </div>
        <div class="something">
            <span>Политика конфиденциальности</span>
            <span>Пользовательское соглашение</span>
        </div>
        <div class="contacts">
            <span>Мы в соцсетях</span>
            <div class="media">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-telegram"></i>
            </div>
        </div>
    </div>
</div>