<div>
    <div class="title">
        <h1>Компьютерны клубы в городе Алматы</h1>
    </div>
    <div class="filter">
        <div id="filter">
            <h2>Фильтры</h2>
            <i class="bi bi-filter"></i>
        </div>
            <div class="byCost">
                <h3>По Цене</h3>
                <div id="filt">
                    <i class="bi bi-circle"></i>
                    <h3>Низкая Цена</h3>
                </div>
                <div id="filt">
                    <i class="bi bi-circle"></i>
                    <h3>Средная Цена</h3>
                </div>
                <div id="filt">
                    <i class="bi bi-circle"></i>
                    <h3>Высокая Цена</h3>
                </div>
        </div>
        <div class="byRating">
            <h3>По Рейтингу</h3>
            <div id="filt">
                <i class="bi bi-circle"></i>
                <h3>Любой Рейтинг</h3>
            </div>
            <div id="filt">
                <i class="bi bi-circle"></i>
                <h3>Рейтинг выше 4.0</h3>
            </div>
            <div id="filt">
                <i class="bi bi-circle"></i>
                <h3>Рейтинг ниже 4.0</h3>
            </div>
        </div>
    </div>
</div>