<div>
    <div class="title">
        <h1>Компьютерны клубы в городе Алматы</h1>
    </div>
    <div class="filter">
        <div id="filter">
            <h2>Фильтры</h2>
            <i class="bi bi-filter"></i>
        </div>
        <span style="color: white; opacity: 0.4; margin-left: 20px;">Очистить</span>
            <div class="byCost">
                <h3>По Цене</h3>
                <div id="filt">
                    <i class="bi bi-circle"></i>
                    <h3>Низкая Цена</h3>
                </div>
                <div id="filt">
                    <i class="bi bi-circle"></i>
                    <h3>Средная Цена</h3>
                </div>
                <div id="filt">
                    <i class="bi bi-circle"></i>
                    <h3>Высокая Цена</h3>
                </div>
        </div>
        <div class="byRating">
            <h3>По Рейтингу</h3>
            <div id="filt">
                <i class="bi bi-circle"></i>
                <h3>Любой Рейтинг</h3>
            </div>
            <div id="filt">
                <i class="bi bi-circle"></i>
                <h3>Рейтинг выше 4.0</h3>
            </div>
            <div id="filt">
                <i class="bi bi-circle"></i>
                <h3>Рейтинг ниже 4.0</h3>
            </div>
        </div>
        <div class="hers">
            <h3>По Герцовке</h3>
            <div id="filt">
                <i class="bi bi-circle"></i>
                <h3>144 Герц</h3>
            </div>
            <div id="filt">
                <i class="bi bi-circle"></i>
                <h3>240 Герц</h3>
            </div>
            <div id="filt">
                <i class="bi bi-circle"></i>
                <h3>Более 240 герц</h3>
            </div>
        </div>
        <div class="apply">
            <button>Применить</button>
        </div>
    </div>
</div>