.text{
    position: relative;
    border: solid 2px;
    width: 300px;
    height: 30px;
    top: 20px;
    left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text a{
    text-decoration: solid;
    color: gray;
    font-size: 17px;
}
.slide-container{
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    border: solid 2px;
    width: 580px;
    height: 420px;
}